{% extends 'cadastro/global/index.html' %}

{% load static %}

{% block title %}Listar Usuarios{% endblock title %}

{% block content %}

<link href="{% static "css/styles_registro.css" %}" rel="stylesheet">

<form method="POST">
    {% csrf_token %}
    <h2>Registrar usuario</h2>
    <div class="fieldWrapper">
        {{ form.nome.errors }}
        {{ form.nome.label_tag }}
        {{ form.nome }}
    </div>
    <div class="fieldWrapper">
        {{ form.cpf.errors }}
        {{ form.cpf.label_tag }}
        {{ form.cpf }}
    </div>
    <div class="fieldWrapper">
        {{ form.email.errors }}
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>
    <div class="fieldWrapper">
        {{ form.telefone.errors }}
        {{ form.telefone.label_tag }}
        {{ form.telefone }}
    </div>
    <div class="fieldWrapper">
        {{ form.matriculado.errors }}
        {{ form.matriculado.label_tag }}
        {{ form.matriculado }}
    </div>
    <input type="submit" value="registrar_usuario" />
</form>

{% endblock content %}