{% extends "cadastro/global/index.html" %}

{% load static %}

{% block title %}Resultados da Pesquisa{% endblock title %}

{% block content %}

<link href="{% static "css/style_lista.css" %}" rel="stylesheet">

<h2>Resultados da Pesquisa</h2>

<form method="POST">
    {% csrf_token %}
    <table border="1">
        <tr>
            <th>Name</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Operações:</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.cpf }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.telefone }}</td>
            <td>
                <a href="/atualizar_registro?pk={{usuario.pk}}">Editar</a>
                <a href="/deletar_registro?pk={{usuario.pk}}" >Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</form>

{% endblock content %}