{% extends "cadastro/global/index.html" %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<link href="{% static "css/style.css" %}" rel="stylesheet">
<div class="jumbotron text-center">
    <h1>Global - Módulo de controle de usuarios</h1>
    <p>Apesar do nome, não, não temos funções de registro no código, mas temos algo melhor:
         um módulo de controle de usuarios. Este é um mergulho direto na gestão eficiente do aprendizado, 
         sem frescuras, apenas funcionalidades práticas.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Funcionalidades:</h3>
            <p>É possível realizar além de novos registros de usuarios, alterar e deletar qualquer 
                registro existente.</p>
        </div>
        <div class="col-sm-4">
            <h3>Requisitos:</h3>
            <p>Será necessário somente um computador com navegador de internet para ter acesso ao módulo.</p>
        </div>
        <div class="col-sm-4">
            
    </div>
</div>
{% endblock content %}