body {
    font-family: sans-serif;
   }
   
   form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
   }
   
   .fieldWrapper {
    margin-bottom: 20px;
   }
   
   input[type="text"],
   input[type="email"],
   select,
   textarea {
    font: 1.25rem / 1.5 sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 2px solid #333;
    background-color: white;
    border-radius: 0.25rem;
   }
   
   input[type="submit"] {
    font: 1.25rem / 1.5 sans-serif;
    padding: 0.5rem 0.75rem;
    border: 2px solid #333;
    background-color: white;
    border-radius: 0.25rem;
    cursor: pointer;
   }
