body {
    font-family: sans-serif;
   }
   h2 {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    width: 80%;
   }
   table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    width: 80%;
   }
   
   th, td {
    border: 1px solid black;
    padding: 8px;
   }
   
   thead th {
    width: 25%;
   }